<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <script type="text/javascript">
        function confirmBack() {
            return confirm("Are you sure you want to go back to Product List? Any unsaved changes will be lost.");
        }
    </script>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Add User</h1>

    <form class="mt-4" method="post" th:action="@{/saveUser}">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" maxlength="25" name="username" placeholder="Enter username"
                   required="required" type="text">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" maxlength="25" name="password" placeholder="Enter password"
                   required="required" type="password">
        </div>
        <!-- <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm password"
                   required type="password">
        </div> -->

        <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" name="role">
                <option value="USER">User</option>
                <option value="ADMIN">Admin</option>
            </select>
        </div>
        <button class="btn btn-success" type="submit">Add User</button>
    </form>
    <a class="btn btn-secondary mt-3" onClick="return confirmBack();" th:href="@{/userlist}">Back to User List</a>
</div>
</body>
</html>