<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Products</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <script type="text/javascript">
        function confirmBack() {
            return confirm("Are you sure you want to go back to Product List? Any unsaved changes will be lost.");
        }
    </script>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Edit Products</h1>

    <form class="mt-4" method="post" th:action="@{/saveproduct}" th:object="${product}">
        <input class="form-control" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" maxlength="25" name="title" required="required" th:field="${product.title}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" th:field="*{type}">
                <option th:each="type : ${types}"
                        th:text="${type.name}"
                        th:value="${type.typeId}">
                    Type name
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="color">Color</label>
            <input class="form-control" id="color" maxlength="25" name="color" required="required" th:field="${product.color}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <select class="form-control" id="size" th:field="*{size}">
                <option th:each="size : ${sizes}"
                        th:text="${size.name}"
                        th:value="${size.sizeId}">
                    Size
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="stringPrice">Price</label>
            <input class="form-control" id="stringPrice" name="stringPrice" placeholder="Enter price"
                   required="required"
                   th:field="${product.stringPrice}"
                   type="text">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="form-group">
            <label for="manufacturer">Manufacturer</label>
            <select class="form-control" id="manufacturer" th:field="*{manufacturer}">
                <option th:each="manufacturer : ${manufacturers}"
                        th:text="${manufacturer.name}"
                        th:value="${manufacturer.manufacturerId}">
                    Manufacturer Name
                </option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit" value="Save">Update</button>
    </form>
    <a class="btn btn-secondary mt-3" id="backButton" onclick="return confirmBack();" th:href="@{/productlist}">Back to
        Products List</a>
</div>
</body>
</html>