<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Clothes</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Edit Clothes</h1>
        
        <form th:action="@{/edit/{id}(id=${dog.id})}" method="post" class="mt-4">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${book.title}" required="required">
            </div>
            <div class="form-group">
                <label for="author">Type</label>
                <input type="text" class="form-control" id="type" name="type" th:value="${dog.type}" required="required">
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" class="form-control" id="color" name="color" th:value="${dog.color}" required="required">
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" class="form-control" id="size" name="size" th:value="${dog.size}" required="required">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" th:value="${dog.price}" required="required">
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input type="text" class="form-control" id="manufacturer" name="manufacturer" th:value="${dog.manufacturer}" required="required">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category.id">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == book.category.id}">Category Name</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        
        <a class="btn btn-secondary mt-3" th:href="@{/clothesList}">Back to Clothes List</a>
    </div>
</body>
</html>