<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Manufacturer</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <script type="text/javascript">
        function confirmBack() {
            return confirm("Are you sure you want to go back to Manufacturer List? Any unsaved changes will be lost.");
        }
    </script>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Edit Manufacturer</h1>
    <form class="mt-4" method="post" th:action="@{/savemanufacturer}" th:object="${manufacturer}">
        <input th:field="*{manufacturerId}" type="hidden">
        <div class="form-group">
            <label for="manufacturerName">Manufacturer Name:</label>
            <input class="form-control" id="manufacturerName" name="name" required th:field="*{name}" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
    <a class="btn btn-secondary mt-3" id="backButton" onclick="return confirmBack();" th:href="@{/manufacturerList}">Back
        to Manufacturer List</a>
</div>
</body>
</html>
