<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Clothes</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript">
        function confirmBack() {
            return confirm("Are you sure you want to go back to Clothes List? Any unsaved changes will be lost.");
        }
    </script>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Edit Clothes</h1>

    <form th:object="${dog}" th:action="@{/saveClothing}" method="post" class="mt-4">
        <input type="hidden" th:field="*{id}" class="form-control">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" th:field="${dog.title}" maxlength="25" required="required">
        </div>
        <div class="form-group">
            <label for="color">Color</label>
            <input type="text" class="form-control" id="color" name="color" th:field="${dog.color}" maxlength="25" required="required">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input type="text" class="form-control" id="size" name="size" th:field="${dog.size}" maxlength="25" required="required">
        </div>
        <div class="form-group">
            <label for="stringPrice">Price</label>
            <input type="text" class="form-control" id="stringPrice" name="stringPrice" th:field="${dog.stringPrice}"
                   placeholder="Enter price"
                   required="required">
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="form-group">
            <label for="manufacturer">Manufacturer</label>
            <select class="form-control" id="manufacturer" th:field="*{manufacturer}">
                <option th:each="manufacturer : ${manufacturers}"
                        th:value="${manufacturer.manufacturerId}"
                        th:text="${manufacturer.name}">
                    Manufacturer Name
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" th:field="*{category}">
                <option th:each="category : ${categories}"
                        th:value="${category.categoryId}"
                        th:text="${category.name}">
                    Category Name
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" value="Save">Update</button>
    </form>
    <a id="backButton" class="btn btn-secondary mt-3" th:href="@{/clothesList}" onclick="return confirmBack();">Back to Clothes List</a>
</div>
</body>
</html>