<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Manufacturer</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <script type="text/javascript">
        function confirmBack() {
            return confirm("Are you sure you want to go back to Manufacturer List? Any unsaved changes will be lost.");
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Edit Manufacturer</h1>
        <form th:object="${manufacturer}" th:action="@{/savemanufacturer}" method="post" class="mt-4">
            <input type="hidden" th:field="*{manufacturerId}">
            <div class="form-group">
                <label for="manufacturerName">Manufacturer Name:</label>
                <input type="text" class="form-control" id="manufacturerName" name="name" th:field="*{name}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <a id="backButton" class="btn btn-secondary mt-3" th:href="@{/manufacturerList}" onclick="return confirmBack();">Back to Manufacturer List</a>
    </div>
</body>
</html>
