<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Size</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <script type="text/javascript">
        function confirmBack() {
            return confirm("Are you sure you want to go back to Size List? Any unsaved changes will be lost.");
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Edit Size</h1>
        <form th:object="${size}" th:action="@{/savesize}" method="post">
            <input type="hidden" th:field="*{sizeId}">
            <div class="form-group">
                <label for="sizeName">Size Name:</label>
                <input type="text" class="form-control" id="sizeName" th:field="*{name}" required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <a id="backButton" class="btn btn-secondary mt-3" th:href="@{/sizelist}" onclick="return confirmBack();">Back to Size List</a>
    </div>
</body>
</html>
