<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Reservations List</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>

<body>
<div class="container">
    <h1 class="mt-5">Reservations List</h1>
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>Reservation ID</th>
            <th>Product Title</th>
            <th>Quantity</th>
            <!-- <th>User</th> -->
            <!-- <th>Date</th> -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}">Reservation ID</td>
            <td th:text="${reservation.product.title}">Product title</td>
            <td th:text="${reservation.quantity}">Quantity</td>
       <!--     <td th:text="${reservation.user.username}">User</td> -->
        <!--    <td th:text="${reservation.date}">Date</td> -->
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{'/deletereservation/' + ${reservation.id}}">
     <!--               <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this reservation?');"
                            type="submit">Delete
                    </button>
                </form>
                <a class="btn btn-primary" th:href="@{'/editreservation/' + ${reservation.id}}">Edit</a> -->
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" th:href="@{/index}">Back to Home page</a>
</div>
</body>

</html>