<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>Size List</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Size List</h1>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Sizes</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="size : ${sizes}">
                    <td th:text="${size.size}">
                        <Type>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <form th:action="@{'/deletesize/' + ${size.sizeId}}" method="post">
                            <button class="btn btn-danger" type="submit"
                                onclick="return confirm('Are you sure you want to delete this size?');">Delete</button>
                        </form>
                        <a class="btn btn-primary" th:href="@{'/editsize/' + ${size.sizeId}}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <td sec:authorize="hasAuthority('ADMIN')">
            <form th:action="@{/savesize}" method="post" class="mt-4">
                <div class="form-group">
                    <label for="newSize">New Size Name:</label>
                    <input type="text" class="form-control" id="newSize" name="name" required>
                </div>
                <button type="submit" class="btn btn-success">Add Size</button>
            </form>
        </td>

        <a class="btn btn-secondary mt-3" th:href="@{/index}">Back to Home page</a>

    </div>
</body>

</html>